.workspaceStatus,
.disabledWorkspaceStatus {
  margin-right: 10px;
  padding-bottom: 0;
}

.workspaceStatus > *,
.disabledWorkspaceStatus > * {
  position: relative;
  top: 3px;
  font-size: 18px;
}

.disabledWorkspaceStatus > * {
  cursor: not-allowed;
  color: #d2d2d2;
}

.workspaceStatus {
  cursor: pointer;
}

.workspaceStatus > * {
  color: #979797;
}

.workspaceStatus > *:hover {
  color: #4a90e2;
}

.infoModalHeader {
  font-size: larger;
  font-weight: bold;
}

.infoModalHeader svg {
  margin: 0 0.4rem;
  font-size: 1.5rem;
  color: var(--pf-global--warning-color--100);
}
