/codeready-workspaces-stacks-language-servers-dependencies-golang*tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-golang-ppc64le.tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-golang-s390x.tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-golang-x86_64.tar.gz
