/codeready-workspaces-stacks-language-servers-dependencies-php*tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-php-ppc64le.tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-php-s390x.tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-php-x86_64.tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-php-xdebug-ppc64le.tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-php-xdebug-s390x.tar.gz
/codeready-workspaces-stacks-language-servers-dependencies-stacks-php-xdebug-x86_64.tar.gz
/asset-php-ppc64le.tar.gz
/asset-php-s390x.tar.gz
/asset-php-x86_64.tar.gz
/asset-php-xdebug-ppc64le.tar.gz
/asset-php-xdebug-s390x.tar.gz
/asset-php-xdebug-x86_64.tar.gz
