.refresh-token-area
  display none
  padding 7px
  max-height 210px
  overflow-x auto
  white-space pre-wrap
  word-wrap break-word
  background-color var(--pf-global--BackgroundColor--200)
  border 1px solid var(--pf-global--BorderColor--dark-100)
  border-radius 3px

.refresh-token-button-hidden
  display none !important

  & + span
    display none

    & + pre
      display block
