#
#  Copyright (c) 2018-2023 Red Hat, Inc.
#    This program and the accompanying materials are made
#    available under the terms of the Eclipse Public License 2.0
#    which is available at https://www.eclipse.org/legal/epl-2.0/
#
#  SPDX-License-Identifier: EPL-2.0
#
#  Contributors:
#    Red Hat, Inc. - initial API and implementation
apiVersion: apps/v1
kind: Deployment
metadata:
  name: che-operator
  namespace: eclipse-che
  labels:
    app: che-operator
    app.kubernetes.io/name: che
    app.kubernetes.io/instance: che
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: che-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: che-operator
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: che-operator
        app.kubernetes.io/name: che
        app.kubernetes.io/instance: che
        app.kubernetes.io/part-of: che.eclipse.org
        app.kubernetes.io/component: che-operator
    spec:
      containers:
        - name: che-operator
          image: quay.io/eclipse/che-operator:3.7
          command:
            - /manager
          args:
            - --leader-elect
          imagePullPolicy: Always
          ports:
            - containerPort: 60000
              name: metrics
          env:
            - name: CHE_DEFAULT_SPEC_COMPONENTS_DASHBOARD_HEADERMESSAGE_TEXT
              value: Microsoft Visual Studio Code - Open Source is the default <a
                href='https://access.redhat.com/documentation/en-us/red_hat_openshift_dev_spaces/3.7/html-single/user_guide/index#selecting-a-workspace-ide'>editor</a>
                for new workspaces. Eclipse Theia is <a href='https://access.redhat.com/documentation/en-us/red_hat_openshift_dev_spaces/3.7/html-single/release_notes_and_known_issues/index#removed-functionalities'>no
                longer supported</a>.
            - name: CHE_DEFAULT_SPEC_COMPONENTS_PLUGINREGISTRY_OPENVSXURL
              value: ''
            - name: CHE_DEFAULT_SPEC_DEVENVIRONMENTS_DEFAULTCOMPONENTS
              value: '[{"name": "universal-developer-image", "container": {"image":
                "registry.redhat.io/devspaces/udi-rhel8@sha256:9c38682157a69a82f5b1899e264f9f97337a75481316f3e4de5d757634f97b3d"}}]'
            - name: CHE_DEFAULT_SPEC_DEVENVIRONMENTS_DEFAULTEDITOR
              value: che-incubator/che-code/latest
            - name: CHE_DEFAULT_SPEC_DEVENVIRONMENTS_DISABLECONTAINERBUILDCAPABILITIES
              value: 'false'
            - name: CHE_FLAVOR
              value: devspaces
            - name: CHE_VERSION
              value: 3.7.0
            - name: CONSOLE_LINK_DISPLAY_NAME
              value: Eclipse Che
            - name: CONSOLE_LINK_IMAGE
              value: /dashboard/assets/branding/loader.svg
            - name: CONSOLE_LINK_NAME
              value: che
            - name: CONSOLE_LINK_SECTION
              value: Red Hat Applications
            - name: MAX_CONCURRENT_RECONCILES
              value: '1'
            - name: OPERATOR_NAME
              value: che-operator
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: RELATED_IMAGE_che_server
              value: registry.redhat.io/devspaces/server-rhel8:3.7
            - name: RELATED_IMAGE_dashboard
              value: registry.redhat.io/devspaces/dashboard-rhel8:3.7
            - name: RELATED_IMAGE_devfile_registry
              value: registry.redhat.io/devspaces/devfileregistry-rhel8:3.7
            - name: RELATED_IMAGE_devworkspace_controller
              value: registry.redhat.io/devworkspace/devworkspace-rhel8-operator
            - name: RELATED_IMAGE_gateway_authentication_sidecar
              value: registry.redhat.io/openshift4/ose-oauth-proxy:v4.11
            - name: RELATED_IMAGE_gateway_authorization_sidecar
              value: registry.redhat.io/openshift4/ose-kube-rbac-proxy:v4.11
            - name: RELATED_IMAGE_plugin_registry
              value: registry.redhat.io/devspaces/pluginregistry-rhel8:3.7
            - name: RELATED_IMAGE_postgres
              value: registry.redhat.io/rhel8/postgresql-96:1
            - name: RELATED_IMAGE_postgres_13_3
              value: registry.redhat.io/rhel8/postgresql-13:1
            - name: RELATED_IMAGE_pvc_jobs
              value: registry.redhat.io/ubi8/ubi-minimal:8.6
            - name: RELATED_IMAGE_single_host_gateway
              value: registry.redhat.io/devspaces/traefik-rhel8:3.7
            - name: RELATED_IMAGE_single_host_gateway_config_sidecar
              value: registry.redhat.io/devspaces/configbump-rhel8:3.7
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          livenessProbe:
            httpGet:
              path: /healthz
              port: 6789
            initialDelaySeconds: 15
            periodSeconds: 10
            failureThreshold: 10
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /readyz
              port: 6789
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 10
            successThreshold: 1
            timeoutSeconds: 5
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - ALL
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 100m
              memory: 64Mi
      hostIPC: false
      hostNetwork: false
      hostPID: false
      restartPolicy: Always
      serviceAccountName: che-operator
      terminationGracePeriodSeconds: 20
