Dockerfile.local
/helm
/kubectl
/kamel
/asset-*
/odo
/oc
/bin.tgz
apache-maven/
/maven.tgz
gradle/
/gradle.tgz
/gradle-6.1-bin.zip
graalvm/
/apache-maven-3.6.3-bin.tar.gz
/lombok-1.18.18.jar
/lombok-1.18.22.jar
