.statusIndicator {
  margin-right: 10px;
  opacity: 0.8;
}

.rotate {
  animation-name: spinnerRotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
