.viewerExpanded {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

.panelViewerDivider {
  display: block;
  height: 1.5em;
}

.viewerExpanded > .panelViewerDivider {
  height: 0;
}
