.workspace-details
  height calc(100vh - 385px)
  width calc(100% - 10px)

.workspace-details-expanded
  height calc(100vh - 95px)
  padding 0 20px
  position absolute
  top 0
  left 0
  right 0

.workspace-details,
.workspace-details-expanded
  background white

  .devfile-header
    margin 20px 0 5px
    height 20px
    padding 0

  .cancel-button
    margin-right 15px

  .save-button,
  .cancle-button
    float right
    margin-left 5px
